.editor_btn
{
    position : "absolute";
    top : 0px;
    height :30px;
    width:100px ;
    background-color: #c4c4c4;
    border: 0px;
    border-radius: 5px;
}
.locate_btn :hover 
{
   background-color: #dadada;
}
.editor_go
{
    position : "absolute";
    top : 0px;
    height :30px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    color: black;
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

.locate_btn
{
    position: absolute;
    top :260px;
    left: 17%;
}