.map
{
    width: 80%;
    height: 600px;
    align-items: center;
    justify-content: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: medium;
    border-color: #D8D8D8;
    position: relative;
    left: 290px;
}
.MainBanner
{
    width: 150px;
    align-items: center;
    justify-content: auto;
    margin-left: 200px;
    margin-right: auto;
    border-style: solid;
    border-width: medium;

}

.mapside
{
    position: absolute;
    align-items: center;
    justify-content: auto;
    margin-left: 200px;
    width: 300px;
    height: 600px;
  
}

.select
{
    margin: 0;
	min-width: 0;
	display: block;
	width: 50%;
	padding: 8px 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
	line-height: inherit;
    border-color : white;
    border-color : rgba( 0, 0, 0, 0 );
	border-radius: 4px;
	color: inherit;
    flex-direction: row;
    background-color: #ffffff;
    background-color: rgba( 0, 0, 0, 0 );
}
.default{
    position: relative;
    left: 20%;
    top: 5px;;
    text-align: left;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    flex-direction: row;
}
.categoryItem
{
    position: relative;
    left: 20%;
    width: 200px;
    height: 30px;
    top: 5px;;
    text-align: left;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    flex-direction: row;
    background-color: transparent;
    z-index: 2;
}
.HomeCat
{
    z-index: 2;
    position: relative;
    top: 400px;
}