.container {
  position: relative;
  text-align: center;
  color: black;
  width: 430px;
  float: left;
  left: 8%;
  top:10px;
}
.centered {
  position: absolute;
  width: 400px;
  top: 58%;
  left: 63%;
  transform: translate(-50%, -50%);
  text-align: left;
  line-height: 35px;
}
.title {
  position: absolute;
  width: 400px;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-style:'San Francisco';
}
.link {
  position: absolute;
  width: 400px;
  font-family: 'Inter';
  font-size: 15px;
  top: 100%;
  left: -13%;
  color: #323232;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-style:'San Francisco';
}
.close {
  position: absolute;
  top: 102%;
  left: 70%;
  width: 80px;
  height: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: black;
  background-color:white;
  border: 0px;
}

/*@font-face {
  font-family: 'InfinitySans-R';
  src: url('/fonts/InfinitySansR-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}*/