.Banner
{
    flex: 1;
    height: 50px;
    width: 20px;
    position: absolute;
    right: 12%;
    top: 253px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.img
{
    width: 240px;
}