.map
{
    width: 80%;
    height: 600px;
    align-items: center;
    justify-content: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: medium;
    border-color: #D8D8D8;
}
.MainBanner
{
    width: 150px;
    align-items: center;
    justify-content: auto;
    margin-left: 200px;
    margin-right: auto;
    border-style: solid;
    border-width: medium;

}