.navbar {
    width: auto;
    background: white;
}

.nav-logo {
    text-decoration: none;
    width: 220px;
    position: absolute;
    left: 6%;
    top: 4.8%;
    transform: translateZ(0);
    backface-visibility: hidden;
    z-index :2; 
}

.nav-item {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    background-color:white;

    position: relative;

    left: 290px;
    top: 25px;
    padding: 10px;
    margin-right: 10px;
    min-width: 220px;
}

.nav-link {
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: none;
}

.dropdown-content {
    display: none;
    background-color: #FEFBF3;
    min-width: 220px;
    position:absolute;
    vertical-align: middle;
    border: 1px;
    border-color: #EB7E5D;
    z-index :2; 
}

.dropdown-content li{
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    list-style: none;
}

.dropdown-content li:hover {
    background-color: lightgray;
}

.nav-item:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    color:black;
    text-decoration: none;
    font-size: 15px;
}