.sidebar {
    flex: 1;
    height: 459px;
    border: 1px solid #EB7E5D;
    background-color: #FFFFFF;
    width: 220px;
    position: absolute;
    left: 6%;
    top: 300px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.sidebarTitle
{
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 17px;
    color: #8C8C8C;
    
}
.active
{
    font-weight: bold;
    color: black;
}
.sidebarTitle:hover{
    font-weight: bold;
    color: black;
}
.sidebarTop{
    height: 52px;
    width: 220px;
    position: absolute;
    top: 0px;
    background-color: #EB7E5D;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
