.common-table {
    top: 300px;
    width: 70%;
    position: absolute;
    left: 1.5%;
    right: 0%;
    margin:  0 auto;
    text-align: center;
    border-spacing :0 ;
    
}

.common-table-header-column {
    border-bottom : 1px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
    background-color: #FFC5B4;

}

.common-table-column {
    padding: 10px 5px;
}

.postTitle :hover {
    color:dimgray;
    text-decoration-line: underline;
    cursor: pointer;
}

.postTitle{
    color: black;
}