.colum
{
    position : relative ;
    top : 85px ; 
    left : 300px ; 
    font-size : 18px ; 
    text-align: center;
    /*background-color : #FDEEE9 ;*/
    font-weight: bold;
    width : 120px;
    height: 30px;
    border: 1px solid #FFFFFF;
}

.line
{
    position : relative ;
    top: 100px;
    width: 1010px;
    background-color: #F2F2F2;
}

.title
{
    position: relative;
    top : 7px;
    left: 950px;
    font-size: 18px;
    height: 31px;
    width: 1000px;
    text-align: left;
  line-height: 20px;
}

.content
{
    position: relative;
    top: 2px;
    left: 260px;
    width: 1000px;
    height: auto;
    padding: 15px;
}