
.line
{
    position : relative ;
    top: 100px;
    width: 1010px;
    background-color: #F2F2F2;
}

.content
{
    position: relative;
    top: 2px;
    left: 260px;
    width: 1000px;
    height: auto;
    padding: 15px;
}